/*
Error: Undefined variable: "$separatorBorder1".
        on line 7 of add-payee-details.scss

2:   .input-text,
3:   .dropdown { margin-bottom: 5px; }
4: }
5: 
6: .item {
7:   border-bottom: 1px solid $separatorBorder1;
8:   background-color: $lightColor1;
9:   color: $darkColor3;
10:   padding: 1.5rem 1rem;
11: 
12:   &.has-icon { padding-left: 45px; }

Backtrace:
add-payee-details.scss:7
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/Users/user/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.16/bin/scss:13:in `<top (required)>'
/Users/user/.rbenv/versions/2.1.4/bin/scss:23:in `load'
/Users/user/.rbenv/versions/2.1.4/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$separatorBorder1\".\A         on line 7 of add-payee-details.scss\A \A 2:   .input-text,\A 3:   .dropdown { margin-bottom: 5px; }\A 4: }\A 5: \A 6: .item {\A 7:   border-bottom: 1px solid $separatorBorder1;\A 8:   background-color: $lightColor1;\A 9:   color: $darkColor3;\A 10:   padding: 1.5rem 1rem;\A 11: \A 12:   &.has-icon { padding-left: 45px; }"; }
